body {
  font-family: "Courier New", monospace;
}

/*FaultSearch*/
.searchBar {
  margin: auto;
  height: 100%;
  width: 17%;
  position: fixed; /* prevents scrolling */
  z-index: 1; /* keeps forward */
  top: 0;
  left: 0;
  background-color: #25669E;
  color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Courier New", monospace;
}

.searchBar span {
  display: inline;
  overflow: hidden;
}

h2 {
  font-size: 28pt;
  display: inline;
  margin-block-start: auto;
  margin-block-end: auto;
  text-decoration: none;
  margin-left: 7px;
}


.searchForm {
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.formDiv {
  float: left;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}


.searchBar label {
  display: block;
  font-size: 15pt;
  text-align: right;
  float: left;
  margin-left: 7px;
}

.searchBar input {
  display: block;
  font-size: 10pt;
  text-align: left;
  width: 80%;
  bottom: 0;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background: #f1f1f1;
  color: #111111;
  outline: 1px solid;
  margin-left: 7px;
  font-family: "Courier New", monospace;
}

.searchButton,
.clearButton{
  border-radius: 5px;
  background-color: #D2C9C9FF;
  color: #111111;
  border: 3px solid #D2C9C9FF;
  cursor: pointer;
  width: 43%;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.8;
  padding: 0;
  margin: 5px
}

.searchButton:hover,
.clearButton:hover {
  opacity: 1;
}

input[type=radio],
input[type=range] {
  accent-color: #25669E;
}


.faultLogging {
  bottom: 10%;
  position: fixed;
  width: inherit;
}

.faultLogging h2 {
  font-size: 28pt;
}

.logFaultBtn,
.viewFaultBtn {
  width: 95%;
  margin: 5px;
  height: fit-content;
  padding: 10px;
}


.mainWindow {
  margin: auto;
  display: inline-block;
  height: 100%;
  width: 80%;
  z-index: 1; /* keeps forward */
  right: 0;
  float: right;
  background-color: #ffffff;
  color: #101010;
}

.mainWindow span {
  height: auto;
  border-bottom: 2px solid black;
}

.sortBar {
  float: right;
  font-size: 16pt;
  border-bottom: transparent !important;
}

.close {
  border-bottom: transparent !important;
}

.sortBar select {
  padding: 10px;
  margin: 5px 0 17px 0;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
  color: #111111;
  font-family: "Courier New", monospace;
  outline: 1px solid;
  border-right: 16px solid transparent;
}

.mainWindow table {
  table-layout: auto;
  width: 100%;
}

.listing {
  min-width: 80%;
}

.listing p {
  white-space: nowrap;
  display: inline;
  line-height: 180%;
}

.dropdown {
  display: none;
  width: 80%;
}

table, td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.mainWindow td {
  font-size: 18pt;
  text-align: left;
}

.textTd {
  width: 40%;
}

.imgTd {
  width: 15% !important;
  padding-left: 20px;
}

.mainWindow img {
  max-width: 75%;
}

.buttonTd {
  width: 5%;
  vertical-align: bottom;
  line-height: 100%;
}

button {
  border-radius: 5px;
  background-color: #D2C9C9FF;
  color: #111111;
  border: 3px solid #D2C9C9FF;
  cursor: pointer;
  font-family: "Courier New", monospace;
  font-weight: bold;
  display: inline-block;
  width: 125px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 15px;
  font-size: 12pt;
  text-align: center;
  vertical-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

.popup button {
  padding: 0 0;
  width: 100px;
  height: 40px;
}

.popup {
  display: none;
  z-index: 9;
  border: 1px solid black;
  background: white;
  height: 275px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.popup#updatePopup {
  height: 230px;
}

.popup#assignPopup {
  height: 230px;
}

.popupForm {
  max-width: 400px;
  padding: 10px;
}

.popupForm input[type=text] {
  border-radius: 5px;
  width: 90%;
  padding: 15px;
  margin: 5px 0 17px 0;
  border: 0;
  background: #f1f1f1;
  color: #111111;
  font-family: "Courier New", monospace;
  font-size: 15px;
  outline: 1px solid;
}


.faultFormBtn {
  background-colour: #818181;
  colour: #f1f1f1;
  padding: 15px;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  left: 20px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  font-family: "Courier New", monospace;
}


.settingsBtn,
.profileBtn {
  color: white;
  border: none;
  padding: 7px 7px;
  cursor: pointer;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 65px;
}

.profileBtn{
  left: 245px
}

.settingsBtn {
  left: 180px;
}


.faultForm {
  border-radius: 5px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid black;
  background: white;
  z-index: 1;
  font-family: "Courier New", monospace;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-container {
  border-radius: 5px;
  max-width: 100%;
  padding: 15px;
  background-color: white;
}

.form-container select{
  width: 100%;
  padding: 7px;
  margin: 5px 0 17px 0;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  color: #111111;
  font-family: "Courier New", monospace;
  font-size: 15px;
  outline: 1px solid;
  border-right: 16px solid transparent;
}

.form-container input[type=text],
.form-container input[type=time],
textarea#text-area,
.form-container input[type=date],
input#editType,
.popup textarea{
  border-radius: 5px;
  width: 98%;
  padding: 7px;
  margin: 5px 0 17px 0;
  border: 0;
  background: #f1f1f1;
  color: #111111;
  font-family: "Courier New", monospace;
  font-size: 15px;
  outline: 1px solid;
}

textarea#text-area,
.popup textarea{
  position: relative;
  resize: none;
}

.form-container input[type=time],
.form-container input[type=date],
.form-container select,
.form-container input[type=file]{
  cursor: pointer;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=date]:focus,
.form-container input[type=time]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn,
.popup .btn{
  border-radius: 5px;
  background-color: #04AA6D;
  color: #f1f1f1;
  padding: 14px 14px;
  border: none;
  cursor: pointer;
  width: 46%;
  opacity: 1;
  font-family: "Courier New", monospace;
  font-size: 18px;
  height: 50px;
}

.popup .btn {
  width: 50%;
  margin-left: 0;
}

.form-container h1 {
  font-size: 27pt;
  padding: 0;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.profile {
  border-radius: 5px;
  background-color: #25669E;
  color: #f1f1f1;
  padding: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Courier New", monospace;
  font-size: 20px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

p#tip-text{
  display: none;
  position: absolute;
  top: 400px;
  z-index: 1;
  background: #25669E;
  padding: 8px;
  border-radius: 5px;
  animation: fadeIn 0.6s;
  color: white;
}

p#tip-text2{
  display: none;
  position: absolute;
  top: 50px;
  z-index: 1;
  background: white;
  padding: 8px;
  border-radius: 5px;
  animation: fadeIn 0.6s;
  color: #25669E;
}

p#tip-text:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 5%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #25669E;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profileChange{
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  overflow: auto;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: auto;
  padding: 15px;
  text-align: center;
}

.changeTable {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.changeTable td {
  border: none;
  text-align: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.searchBtn {
  padding: 0;
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: inline;
  float: right;
  margin-right: 15px;
  font-size: 28px;
  width: 28px;
  height: 28px;
}

.active,
.searchBtn:hover {
  color: #D2C9C9FF;
}

.fa-solid, .fas {
    font-weight: 900;
    font-size: 30px;
    align: center;
}